* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: rgb(158, 123, 255);
  height: 100vh;
}

.card-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  height: auto;
  /* min-height: 60vh; */
  width: 40vw;
  min-width: 300px; 
  border-radius: 1rem;
  padding: 40px;
}

.card-heading {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%; 
}

.card-heading h1,
.card-heading p {
  text-align: center;
}

.search {
  display: flex;
  gap: 10px;
  width: 100%; 
}

.search input {
  flex: 1; 
  padding: 10px;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

.search button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(158, 123, 255);
  color: white;
  cursor: pointer;
}

.search button:hover {
  background-color: rgb(138, 103, 230);
}

.info-card {
  margin-top: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-shadow:0 0px 20px rgba(0, 0, 0, 0.15);
  display:none;
}

.info-card .flag {
  width: 120px;
  height: auto;
  border-radius: 0.5rem;
  border:1px solid rgb(147, 147, 147);
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  width: 100%;
}

.info-item {
  background-color: white;
  padding: 15px;
  border-radius: 0.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.info-item .title {
  font-weight: 600;
  color: #555;
  margin-bottom: 5px;
}

.info-item .value {
  font-weight: 500;
  font-size: 1rem;
}
